*{
background-color: rgb(92, 13, 13);
margin: 1px;
}
h1{
    margin-left: 30%;
    
    width: 500px;
    height: 80px;
    text-align: center;
    border: white 5px solid;
    border-radius: 15px;
    background-color: rgb(22, 21, 21);
    color: azure;
    text-size-adjust: 20px;
    }
.navegador-Padre{
display: flex;
 
}
.nav-son1{ 
display: inline-flex;
justify-content: space-around;
margin: 2px;
color:white;
border-radius: 20px ;
border: 3px solid blue ;
background-color: black;
height: 80px; width: 100%;
margin-left:10px;
margin-left: 10px;
}

.boton1{
justify-content: space-between;
align-content: center;
border-radius: 15px;
background-color: black;
border: solid white 1px;
height: 50px;
width: 100px;
cursor: pointer;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 1px;
margin-right: 1px;
}
.boton1 :hover{
border: double solid white;
background-color: blanchedalmond;
color: blue;
margin: -5px;
border-radius: 15px;
height: 50px;
width: 100px;

}
.boton1 p{
background-color:black;
text-align: center;
margin-top: 15px;
}
.peliculas{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
height: 100vh;
}
.peliculas figure{
position: relative;
display: inline-flex;
justify-content: space-around;
height: 300px;
width: 250px;
margin-top: 7px;
margin-bottom: 7px;
margin-left: 7px;
margin-right: 7px;
overflow: hidden;
border-radius: 10px;
cursor: pointer;
}
.peliculas figure img{ 
border: solid black 2px; 
border-radius: 10px;
 
width: 100%;
height: 100%;
 }
.peliculas h3{
color: beige;
background-color: gray;
}
.peliculas .resumen{
background-color: grey;
color: beige;
}
.peliculas figure .descripcion{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(116, 138, 160, 0.7);
opacity: 0;
visibility: hidden;
text-align: center;
}
.contenedor figure:hover > .descripcion{
opacity: 1;
visibility: visible;
}